.main-view-container__scroll-node-child {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  color: #fff;
}
.settings-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 32px 32px 16px;
}
.settings-header {
  display: flex;
  justify-content: space-between;
}
.settings-search {
  position: relative;
}
.settings-search__icon,
.settings-expand-button {
  position: absolute;
  left: auto;
  right: 0;
  color: #fff;
  top: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.settings-search__input {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 0;
  border-radius: 4px;
  color: hsla(0, 0%, 100%, 0.7);
  height: 32px;
  opacity: 0;
  text-overflow: ellipsis;
}
.language-section,.your-library,.display{
    display: flex;
    flex-direction: column;
}
.display__content,.your-library__content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.language-section__content{
    display: grid;
    gap: 8px 24px;
    grid-template-columns: 2fr 1fr;
}
.language-dropdown__select{
    background-color: #333;
    border: 0;
    border-radius: 4px;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    letter-spacing: .24px;
    line-height: 20px;
    padding: 0 32px 0 12px;
    width: 100%;
}
.your-library__checkbox-input,.display__checkbox-input{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.your-library__checkbox-custom,.display__checkbox-custom{
    background-color: #535353;
    border-radius: 24px;
    height: 24px;
    position: relative;
    width: 42px;
    display: inline-block;
}
.your-library__checkbox-inner,.display__checkbox-inner{
    position: absolute;
    background: #fff;
    border-radius: inherit;
    height: 20px;
    left: 2px;
    top: 2px;
    transition: background-color,left,right,width .1s ease;
    width: 20px;
}
.Footer__StyledTopLinks-sc-xwm5vq-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 30px;
}
.eaKdIW1{
    grid-column: 1/2;
}
.eaKdIW2{
    grid-column: 2/3;
}
.eaKdIW3{
    grid-column: 3/4;
}
.List__ListElement-sc-64p3hb-0{
    display: flex;
    flex-direction: column;
}
.Type__TypeElement-sc-goli3j-0{
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 400;
    padding-block-end: 8px;
    color: inherit
}
.Link-sc-k8gsk-0{
    margin: 8px 0;
    text-decoration: none;
    color: inherit
}
.bkjCej{
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1.3rem;
    font-weight: 700;
}
.your-library__checkbox-input:checked ~ .your-library__checkbox-custom > .your-library__checkbox-inner{
    transform: translateX(20px);
    background-color: aqua;
}
.BottomLinksList__Container-sc-1li1pru-0{
    display: flex;
    
}
.kWosnZ{
    margin:  0 16px;
}
.ikCPev{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
