
.box {
  position: relative;
  width: 300px;
}

.box .left-section {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
}

.box .left-playlists {
  position: absolute;
  width: 185px;
  height: 225px;
  top: 469px;
  left: 30px;
  color: #ffffff;
}

.box .text-wrapper {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .div {
  position: absolute;
  top: 40px;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .text-wrapper-2 {
  position: absolute;
  top: 80px;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.38px;
  line-height: normal;
}

.box .text-wrapper-3 {
  position: absolute;
  top: 160px;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.57px;
  line-height: normal;
}

.box .text-wrapper-4 {
  position: absolute;
  top: 200px;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .text-wrapper-5 {
  position: absolute;
  top: 120px;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.38px;
  line-height: normal;
}

.box .left-options-top {
  position: absolute;
  width: 281px;
  height: 138px;
  top: 111px;
  left: 10px;
}

.box .overlap-group {
  width: 281px;
  height: 50px;
  top: 0;
  background-color: #282828;
  border-radius: 6px;
  position: absolute;
  left: 0;
}

.box .home {
  position: relative;
  width: 100px;
  height: 26px;
  top: 12px;
  left: 23px;
}

.box .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 47px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
}

.box .fi-ss-home {
  position: absolute;
  width: 24px;
  height: 26px;
  top: 0;
  left: 0;
}

.box .search {
  position: absolute;
  width: 108px;
  height: 25px;
  top: 62px;
  left: 23px;
}

.box .input {
  position: absolute;
  top: 0;
  left: 47px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.box .fi-rs-search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
}

.box .your-library {
  position: absolute;
  width: 147px;
  height: 26px;
  top: 112px;
  left: 24px;
}

.box .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 46px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
}

.box .library {
  position: absolute;
  width: 22px;
  height: 23px;
  top: 3px;
  left: 0;
}

.box .rectangle {
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  width: 1px;
  background-color: #ffffff;
}

.box .rectangle-2 {
  height: 23px;
  top: 0;
  left: 7px;
  position: absolute;
  width: 1px;
  background-color: #ffffff;
}

.box .rectangle-3 {
  height: 24px;
  top: -1px;
  left: 17px;
  transform: rotate(-23.63deg);
  position: absolute;
  width: 1px;
  background-color: #ffffff;
}

.box .left-options-middle {
  position: absolute;
  width: 176px;
  height: 130px;
  top: 301px;
  left: 30px;
}

.box .group {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  border-radius: 1px;
  background: linear-gradient(
    180deg,
    rgb(64, 0, 244) 0%,
    rgb(96, 58, 237) 22.48%,
    rgb(124, 110, 230) 46.93%,
    rgb(151, 159, 225) 65.71%,
    rgb(162, 179, 222) 77.68%,
    rgb(173, 200, 220) 88.93%,
    rgb(192, 236, 215) 100%
  );
}

.box .fi-ss-heart {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 11px;
  left: 11px;
}

.box .text-wrapper-8 {
  position: absolute;
  top: 2px;
  left: 50px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .text-wrapper-9 {
  position: absolute;
  top: 52px;
  left: 50px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .text-wrapper-10 {
  position: absolute;
  top: 102px;
  left: 50px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .overlap {
  width: 30px;
  height: 30px;
  top: 0;
  background-color: #ffffff;
  border-radius: 1px;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  left: 0;
}

.box .fi-ss-plus-small {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 3px;
}

.box .gg-media-podcast-wrapper {
  width: 30px;
  height: 30px;
  top: 100px;
  background-color: #004638;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.box .gg-media-podcast {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
}

.box .install-app {
  position: absolute;
  width: 140px;
  height: 25px;
  top: 757px;
  left: 30px;
}

.box .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 50px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.box .grommet-icons {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.box .spotify-logo {
  position: absolute;
  width: 164px;
  height: 49px;
  top: 31px;
  left: 29px;
  object-fit: cover;
}
