/* Định dạng phần sidebar */
.Sidebar {
  color: #fff; /* Đổi màu chữ */
  width: 250px; /* Độ rộng của sidebar */
  height: 947px;
  flex-shrink: 0;
  left: 0;
  top: 0;
  background-color: #000;
  grid-area: left-sidebar;
  position: relative;
  width: 306;
  z-index: 4;
}

/* Định dạng phần TypeElement trong sidebar */
.Type__TypeElement-sc-goli3j-0.bkjCej {
  margin-left: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
}
.home-library{
  background-color: #121212 ;
  border: 1px solid #121212; /* Thêm viền với màu xám */
  padding: 10px; /* Thêm khoảng cách nội dung với viền */
  border-radius: 10px; /* Bo góc viền */
  margin-bottom: 5px
}
/* HOME */
.home {
  text-align: none; 
  margin-left: 20px;
  margin-bottom: 15px; 
  display: flex;
  align-items: center;
}
.home a {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: #a7a7a7; /* Đổi màu chữ */
  
}
.style01 {
  text-decoration: none ; /* Loại bỏ gạch chân ở liên kết */
  font-weight: bold; /* In đậm chữ */
  font-size: 1rem; /* Đặt kích cỡ chữ */
}

.style01:hover {
  color: #fff; /* Đổi màu chữ khi di chuột qua liên kết */
}
.home i.fa, .home ion-icon {
  margin-right: 2px; /* Khoảng cách giữa biểu tượng và văn bản */
 }
/* LIBRARY*/
.your-library {
  text-align: none;
  margin-left: 10px;
  margin-bottom: 15px;
    margin: 0; /* Đảm bảo không có khoảng cách giữa các nút */
  list-style: none; /* Loại bỏ dấu đầu dòng của danh sách */
  
 }
 
 .your-library a {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: #a7a7a7;
 }
.style02 {
  text-decoration: none; /* Loại bỏ gạch chân ở liên kết */
  font-weight: bold; /* In đậm chữ */
  font-size: 1rem; /* Đặt kích cỡ chữ */
}
.style02:hover {
  color: #fff; /* Đổi màu chữ khi di chuột qua liên kết */
}

 .your-library i.fa, .your-library ion-icon {
  margin-right: 2px; /* Khoảng cách giữa biểu tượng và văn bản */
 }
/* danh sách phát*/
.control-section{
  display: flex;
  flex-direction: row;
  align-items: center;  
  margin-top: 5px;
}
.create-playlist, .liked-songs{
  padding: px; /* Thêm khoảng cách nội dung với viền */
  font-size: 0.8125rem;
}
.style01-1,.style01-2 {
  color: #f4f4f4;
  border-radius: 15px; 
  display: block; /* Để liên kết chiếm toàn bộ chiều rộng của phần tử cha */
  padding: 12px 4px ; /* phần nền to nhỏ */
  background-color: #232323;
  box-sizing: border-box;
  margin: 10px;
  font-weight: 400;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  
}
.style01-1:hover,.style01-2:hover {
  background-color: #444;
}
/* What' New */
.what-new {
  background-color: #121212 ;
  border: 1px solid #121212; /* Thêm viền với màu xám */
  padding: 5px; /* Thêm khoảng cách nội dung với viền */
  border-radius: 10px; 
}
.st
.new-releases, .featured-tracks {
  margin: 20px 0; 
}

h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
}

.album, .track {
  margin: 20px 0; 
}
h3 {
  font-size: 16px; 
  margin-top: 10px; 
}
p {
  color: #666; 
  margin-top: 5px; 
  font-size: 13px;
}

/* Hiển thị thanh cuộn khi nhấn vào nút Avatar */
#avatarBtn:focus + .scroll-menu,
.scroll-menu:hover {
  display: block;
}
/* CSS cho thanh cuộn */
.scroll-menu {
  display: none;
  position: absolute;
  background-color: #282828;
  border: 1px solid #282828;
  max-height: 100px; 
  flex-direction: column;
  text-align: center;
  border-radius:3%; 
}
.scroll-menu a:last-child {
  order: -1;
}
.style03, .style04{
  color: #f4f4f4;
  text-decoration: none;
  display: block; /* Để liên kết chiếm toàn bộ chiều rộng của phần tử cha */
  padding: 3px; /* phần nền to nhỏ */
  box-sizing: border-box;

}
.style03 ion-icon {
  margin-right: 5px;
}