.frame {
  position: relative;
  width: 100%;
}

.frame .div {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 30px 20px 20px 30px;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(57.37, 57.37, 53.55) 0%, rgba(57.37, 57.37, 49.72, 0.42) 100%);
}

.frame .rectangle {
  position: relative;
  width: 198px;
  height: 198px;
  object-fit: cover;
}
.active{
 
  fill: rgb(0, 255, 94);
}
.frame .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-left: -1.2px;
  -webkit-text-stroke: 1.2px #ffffff;
  font-family: "Gilroy", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 74px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .p {
  position: relative;
  width: fit-content;
  font-family: "Gothic A1", Helvetica;
  font-weight: 500;
  color: #bebebd;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .div-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  height: auto;
  flex: 0 0 auto;
}

.frame .img {
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Gothic A1", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 700;
  color: #bebebd;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .img-2 {
  width: 207px;
}
#playlist{
  width: 100%;
  padding-right:24px ;
  margin-bottom: 120px;
}
.frame .playlist {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  margin-left: 24px;
}

.playlist .div-5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -2.5px;
  margin-bottom: -2.5px;
}

.frame .text-wrapper-5 {
  position: relative;
  width: 15px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 21px;
}

.frame .div-6 {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.frame .image {
  position: relative;
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.frame .div-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .link-wrapper {
  position: relative;
  width: 101px;
  height: 21px;
}

.frame .link {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Gothic A1", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .link-2 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Gothic A1", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .div-8 {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .album {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 21px;
}

.frame .text-wrapper-6 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
}

.frame .div-9 {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  position: relative;
}

.frame .vector {
  position: relative;
  width: 11px;
  height: 10px;
}

.frame .text-wrapper-7 {
  font-weight: 500;
  color: #b3b3b3;
  font-size: 12px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .playlist-2 {
  top: 452px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-3 {
  top: 504px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-4 {
  top: 556px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-5 {
  top: 608px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-6 {
  top: 660px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-7 {
  top: 712px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-8 {
  top: 764px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-9 {
  top: 816px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-10 {
  top: 868px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-11 {
  top: 920px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-12 {
  top: 972px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-13 {
  top: 1024px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-14 {
  top: 1076px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-15 {
  top: 1128px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-16 {
  top: 1180px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .playlist-17 {
  top: 1232px;
  display: flex;
  width: 968px;
  height: 52px;
  align-items: center;
  padding: 10px 20px 5px;
  position: absolute;
  left: 24px;
}

.frame .div-10 {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  padding: 10px 44px 5px;
  position: relative;
  left: 0;
  background-color: #191919;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #2e2e2c;
}

.frame .div-11 {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .text-wrapper-8 {
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.frame .text-wrapper-10 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
}

.frame .text-wrapper-11 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Gothic A1", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
}

.frame .img-3 {
  position: relative;
  width: 100px;
}
footer {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  padding: 50px;
}
footer .left{
  display: flex;
  gap: 100px;
}
footer .left ul {
  list-style: none;
}
footer .left ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #b3b3b3;
}
footer .left ul li:first-child{
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
footer .right ul {
  list-style: none;
}

footer .right ul li {
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #b3b3b3;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
footer .right ul li svg{
  width: 100%;
  height: 100%;
  color: #b3b3b3;
  fill: #b3b3b3;

}
